{% extends 'base.html' %}
{% block content %}
{% for business in object_list %}
<div class="panel">
    <h3><a href="{{ business.get_absolute_url }}">{{ business.title }}</a></h3>
    <p>Posted {% if business.visibility == 0 %} by <a href="{% url 'user_detail' slug=business.user.username %}">{{ business.user.username }}</a> {% endif %} on {{ business.created_at }}</p>
    <form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ business.comment_set.all.count }} Review{{  business.comment_set.all.count|pluralize }}</span>
    <span class="badge">{{ business.vote_set.all.count }} Vote{{ business.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="business" value="{{ business.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
        {% if business in user_votes %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        {% endif %}
    </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock %}