{% extends 'base.html' %}
{% block content %}
<h1>{{ business.title }}</h1>
<p>{{ business.description }}</p>
<p>Posted {% if business.visibility == 0 %} by <a href="{% url 'user_detail' slug=business.user.username %}">{{ business.user.username }}</a> {% endif %} on {{ business.created_at }}</p>
{% if business.user == user %}
<p><a href="{% url 'business_update' pk=business.id %}">Edit business</a></p>
<p><a href="{% url 'business_delete' pk=business.id %}">Delete business</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Review{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
    <p>{{ comment.text }}</p>
    {% if comment.user == user %}
    <p><a href="{% url 'comment_update' business_pk=business.id comment_pk=comment.id %}">Edit Comment</a></p>
    <p><a href="{% url 'comment_delete' business_pk=business.id comment_pk=comment.id %}">Delete Comment</a></p>
    {% endif %}
    <p>Commented {% if comment.visibility == 0 %} by <a href="{% url 'user_detail' slug=comment.user.username %}">{{ comment.user.username }}</a> {% endif %} on {{ comment.created_at }}</p>
    <form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ comment.vote_set.all.count }} Vote{{  comment.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="comment" value="{{ comment.id }}" />
    <input type="hidden" name="business" value="{{ business.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if comment in user_votes %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    {% endif %}
</form>
</div>
{% endfor %}
{% if not user_comments %}
<p><a href="{% url 'comment_create' pk=business.id %}">Add Review</a></p>
{% endif %}
{% endblock %}