{% extends 'base.html' %}
{% block content %}
{% for business in object_list %}
<div class="panel">
    <h3><a href="{{ business.get_absolute_url }}">{{ business.title }}</a></h3>
    <p>Posted by <a href="{% url 'user_detail' slug=business.user.username %}">{{ business.user.username }}</a> on {{ business.created_at }}</p>
    <p>{{ business.vote_set.all.count }} Vote{{ business.vote_set.all.count|pluralize }}</p>
    <form method="post" action="{% url 'vote' %}">
        {% csrf_token %}
        <input type="hidden" name="business" value="{{ business.id }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <button>+</button>
    </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% endblock %}